.courses {
  padding: 30px 30px;
}

.courses__title {
  text-align: center;
  color: var(--color-secondary);
  margin-bottom: 30px;
}

.courses__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}

.pagination__list {
  display: flex;
  align-items: center;
  list-style: none;  
}

.pagination__item,
.pagination__arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 4rem;
  height: 4rem;  
  color: var(--color-primary);  
  background-color: gray;
  border: 2px solid gray;
  border-radius: 50%;
  margin-right: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in; 
}

.light .pagination__item,
.light .pagination__arrow {
  background-color: #eee;
  border: 2px solid #eee;
}

.pagination__arrow {
  width: 2.6rem;
  height: 2.6rem;
}

.pagination__item:hover,
.pagination__arrow:hover {
  transform: scale(1.05);
  border: 2px solid var(--color-primary);
}

.pagination__item_active {
  color: #fff;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.light .pagination__item_active {
  color: #fff;
  font-weight: bold;
  background-color: var(--color-primary);
  border: 2px solid var(--color-primary);
}

.select-wrapper span {
  color: #424294;;
}

.select-wrapper select {
  color: #424294;
  outline: none;
  padding: 0 10px;
  border: 2px solid var(--color-primary);
  border-radius: 10px;
  cursor: pointer;
}

.select-wrapper select option {
  border: 2px solid var(--color-primary);
}

.dark .select-wrapper span,
.dark .select-wrapper select {
  color: var(--color-primary); 
  
}

.dark .select-wrapper select {
  background-color: gray;
  
}

@media screen and (max-width: 575px) {
  .courses {
    padding: 30px 0;
  }
}